.main {
    width: 80%;
    margin: 3rem auto;
}

.title {
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
}

.subtitle {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    opacity: 0.6;
}

.cta-btn {
    background-color: rgb(135, 204, 108);
    border-radius: 6px;
    padding: 0.8rem 3.5rem;
    border: 2px solid #000;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Poppins', sans-serif;
}

.cta-btn:hover {
    background-color:rgba(135, 204, 108, 0.678);
    box-shadow: 4px 4px 4px 0px rgb(29, 44, 23);
    transition: 0.4s;
}

.header-buttons {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
}