.features-wrapper {
    display: flex;
    flex-direction: row;
    margin: 5rem auto;
    justify-content: space-evenly;
}

.svg-blob {
    position: absolute;
    width: 23%;
    z-index: -1;
}

.feature {
    width: 25%;
}

.feature-name {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 0;
    font-size: 2rem;
}

.feature-details {
    font-size: 1.2rem;
    padding: 0 2rem;
    text-align: center;
}