.examples-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.art-example {
    width: 30%;
    height: 25rem;
}

.art-example img {
    width: 100%;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
    height: 24rem;
}

.art-title {
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.painter {
    font-size: 1.1rem;
    opacity: 0.7;
    margin-top: 0;
}

.art-link {
    margin-top: 1rem;
    opacity: 0.7;
    transition: 0.4s;
}

.art-link:hover {
    opacity: 1;
    cursor: pointer;
    transition: 0.4s;
    font-weight: 600;
}